$color-gray-100: #FFF; // White
$color-gray-200: #F8FAFC; // Cultured
$color-gray-300: #E2E8F0; // Alice
$color-gray-500: #64748B; // Slate

$color-brand-300: #182185; // Primary Blue
$color-brand-400: #141E82; // Droit Blue
$color-brand-500: #0C124E; // Midnight

$font-family-inter: 'Inter';
$font-family-helvetica: 'Helvetica Neue';

$font-weight-normal: 400;
$font-weight-demi: 500;
$font-weight-bold: 600;

$font-size-heading: 24px;
$font-size-sub: 20px;
$font-size-body: 16px;
$font-size-small: 14px;

$box-shadow-100: 0px 1px 27px rgba(148, 163, 184, 0.34);

$border-radius-sm: 4px;

$grid-gutter: 24px;