$color-gray-100: #fff; // White
$color-gray-200: #f8fafc; // Cultured
$color-gray-300: #e2e8f0; // Alice
$color-gray-500: #64748b; // Slate

$color-brand-100: #f0f9ff; // Beau Blue
$color-brand-200: #b6bada; // Wild Blue
$color-brand-300: #182185; // Primary Blue
$color-brand-400: #141e82; // Droit Blue
$color-brand-500: #0c124e; // Midnight

$font-family-inter: "Inter";
$font-family-helvetica: "Helvetica Neue";

$font-weight-normal: 400;
$font-weight-demi: 500;
$font-weight-bold: 600;

$font-size-heading: 24px;
$font-size-sub: 20px;
$font-size-body: 16px;
$font-size-small: 14px;

$box-shadow-100: 0px 1px 27px rgba(148, 163, 184, 0.34);

$border-radius: 4px;

$grid-gutter: 24px;

$screen-tablet: 768px;
