@import "./../tokens";

.grid {
  display: grid;
  gap: $grid-gutter;
}

@media (min-width: $screen-tablet) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
  }

  @for $i from 1 through 12 {
    .cols#{$i} {
      grid-template-columns: repeat(#{$i}, 1fr);
    }
  }
}
