@import "./../tokens";

.tooltip {
    display: inline-flex;
    margin-left: 4px;
    position: relative;
    height: 14px;
    width: 14px;
    justify-content: center;
}

.box {
    background: $color-brand-500;
    color: $color-gray-100;
    position: absolute;
    top: 0;
    transform: translateY(-100%);
    width: 260px;
    z-index: 10;
    font-size: 14px;
    font-weight: $font-weight-normal;
    text-align: center;
    padding: 12px;
    border-radius: $border-radius;
    margin-top: -8px;
    display: flex;
    justify-content: center;
    &:after {
        content: "";
        position: absolute;
        background: $color-brand-500;
        width: 16px;
        height: 16px;
        bottom: -3px;
        transform: rotate(45deg);
        border-radius: $border-radius;
    }
}